@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    background-color: #272727 !important;
}
/* IbsterTech Video */
.YT-Video{
    width: 1250px;
    height:700px;
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    user-select: none; 
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;
}
.y-s{
    background-color: #252525;
    padding-left: 100px;
    padding-right: 100px;
}
@media only screen and (max-width: 1366px) {
   .YT-Video{
       width: 100%;
       height: 600px;
   }
}
@media only screen and (max-width: 1366px) {
   .YT-Video{
       width: 100%;
       height: 500px;
   }
}
/* Command Line */
.c-h{
    color: #fff;
    background-color: #505050; 
    font-size: 28px;
    padding: 12px 22px;
    margin: 0;
    text-align: center;    
    font-family: 'Monomaniac One', sans-serif;
}
.c-l{
    background-color: rgb(59, 59, 59);
    color: white;
    padding: -10px 15px 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-align: center;
}
.p-c{
    text-align: center;
    background-color: dimgray;
    /* border-radius: 20px; */
    border-radius: 0 0 20px 20px;
    padding: 20px;
    margin: 0px 50px;
    overflow-wrap: break-word;
}
#Button{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: rgb(0,199,193);
    background: linear-gradient(90deg, rgba(0,199,193,1) 0%, rgba(33,238,242,1) 35%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    transition: background 250ms ease-in-out, transform 150ms ease;
    user-select: none; 
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;
}

button:hover{
    background: rgb(3,183,217);
    background: linear-gradient(90deg, rgba(3,183,217,1) 0%, rgba(87,227,255,1) 43%, rgba(33,238,242,1) 100%);
}
button:focus {
    background: #38d1ff;
    outline: 1px solid rgb(52, 241, 255);
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
    background: linear-gradient(90deg, rgb(82, 226, 255) 0%, rgb(41, 223, 255) 43%, rgb(99, 252, 255) 100%);
}

/* Commands End */

/* Tutorial Headline */
.t-h{
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 32px;
    padding: 20px;
}
/* Command Information */
.c-c {
    color: #fff;
    font-family: 'Sono', sans-serif;
    font-weight: 900;
    padding: 20px;
    background-color: rgb(63, 63, 63);
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;

}
.dark{
    background-color: #252525 !important;
    border: 1px solid rgb(211, 211, 211);
    border-left: none;
    border-right: none;
}
.hr{
    color: #fff;
    border-top: 1px solid #fff;
}
/* Text Links */
.a-1{
    color: rgb(18, 180, 224);
    transition: 0.2s ease-in;
    text-decoration: none;

}
.a-1:hover{
    color: rgb(18, 197, 252);
    text-shadow: 2px 2px 2px #000;
    text-decoration: none !important;

}
a{
    color: rgb(0, 225, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-decoration: none;
    user-select: none; 
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;
}
a:hover{
    color: rgb(0, 162, 255);
    text-decoration: underline; 
    transition: 0.2s ease-in;

}
/* Highlights */
.q-g{
    color: rgb(0, 175, 9);
    background-color: rgb(51, 51, 51);
    padding: 5px;
    user-select: none; 
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;
}
.q-r{
    color: rgb(255, 0, 0);
    background-color: rgb(51, 51, 51);
    padding: 5px;
    user-select: none; 
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;
}
/* Text Style */
.c-u{
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
    background-color: rgb(37, 37, 37) !important;
}

#p-heading{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 22px;
    font-weight: bolder;
}
hr{
   background-color: #fff;
   margin: 0;
}

.p{
    background-color: transparent;
    text-align: unset;
    color: #fff;
}
ul{
    padding-left: 40px;
}

#p-i-t{
    color: white;
    font-family: 'Oswald', sans-serif;
}

/* Headers */
.h-1{
    font-size: 20px;
    padding: 20px;
    background-color: #252525;
    width: 100% !important;
    font-family: 'Fjalla One', sans-serif;  
    margin: 0 !important;
    box-shadow: 2px 2px 2px solid rgb(252, 252, 252);
    font-weight: bold;
    text-transform: uppercase;
}
.h-2{
    line-height: 1.6;
    text-transform: capitalize !important;
    font-size: 17px;
    padding: 30px;
    margin-bottom: 0;
    background-color: #3d3a3a;
    font-family: 'Titillium Web', sans-serif;
}
.m-1{
    border-top: 1px solid #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
/* About Info, About Para */
.a-i{ 
    text-align: center;
    max-width: 100%;
    background-color: #414141;
    border-radius: 0;
    padding-top: 30px;
    margin: 0;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    user-select: none; 
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;  

}
.a-p{
   padding: 20px; 
   text-align: center;
   margin: 0 !important;
   padding-left: 10px;
   padding-right: 10px; 
   max-width: 100%;
   font-size: 17px;
   background-color: #414141;
}

/* MEDIA/Disqus_thread */
.s-h{
    background-color: #272727 !important;
    color: white;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 50px;
}
.media{
    background-color: #272727 !important;

    margin-bottom: 0;
  }
.social-icons{
    padding:30px;
    background-color: #272727 !important;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.social-icons a{
    color:#fff;
    line-height:30px;
    font-size:30px;
    margin: 0 5px;
    text-decoration:none;  
}
.social-icons a i{
    line-height:30px;
    font-size:30px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
.social-icons a:hover i{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}  
br{
    user-select: none; 
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;  
}
#disqus_thread{
    background: rgb(70,70,70);
    background: linear-gradient(90deg, rgb(39 37 37) -1%, rgb(43 39 39) 100%)!important;
    padding: 10px;
    padding-bottom: 50px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

iframe[sandbox]:not([sandbox=""]) {
    display: none !important;
}
#app{
    margin: 0 !important;
    padding: 0 !important;
}
/* Footer Spacing */
#m-f{
    padding-bottom: 300px !important;
}
