@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
* {
  box-sizing: border-box;
}
body{
  background:rgb(26 26 26) !important;
}   
#itemInput {
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  background-color: #272727;
  font-size: 18px;
  padding: 12px 20px 12px 20px;
  text-transform: capitalize;
  border: 1px solid grey;
  transition:all 0.2s ease-out;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
}

#itemInput::placeholder{
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  text-transform: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-weight: 900;
  letter-spacing: normal;

}
#itemInput:hover{
    background-color: rgb(65, 65, 65);
    transition:all 0.2s ease-out;
}
#itemInput:focus{
    background-color: rgb(66, 66, 66);
    border: 1px solid #000;
    text-shadow: 1px 1px 1px #3f4749;
    transition:all 0.5s ease-out;
}
#item-ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  background-color: rgb(26 26 26);

  transition:all 0.9s ease-out;

}

#item-ul li a {
  margin-top: -1px; /* Prevent double borders */
  background-color: rgb(26 26 26);

  padding: 10px;
  padding-left: 15px;
  margin: 0px 10px 10px 10px;   
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: #fff;
  word-spacing: 2px;
  text-shadow: 1px 1px 1px #2b2727;
  text-transform: capitalize;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition:all 0.9s ease-out;

}
#item-ul li a:hover{
box-shadow:  0 0 5px #0db0f1,
           0 0 10px #12c2ee;
outline-color: rgba(255, 68, 68, 0);
outline-offset: 15px; 
text-shadow: 10px 10px 20px #5ec6f3; 
transition:all 0.5s ease-out;
border-radius: 10% !important;


}

@keyframes blur {
0%,
90% {
-webkit-filter: blur(0px);
-moz-filter: blur(0px);
-o-filter: blur(0px);
-ms-filter: blur(0px);
}
50% {
-webkit-filter: blur(50px);
-moz-filter: blur(50px);
-o-filter: blur(50px);
-ms-filter: blur(50px);
}
}

#item-ul li a:hover:not(.header) {
  background-color: #1fbfe7d8;
  color: rgb(255, 255, 255);
  text-shadow: 2px #000;
  transition: background-color 0.6s ease;
}
.r-i{
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
    background-color: rgb(26 26 26);
    margin: 0;
    padding: 3px 5px 4px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#m-f{
  padding-bottom: 0px !important;
}